/* --------------------------------------- */
	/* -------------- MENU IZQUIERDO ------------- */
	/* --------------------------------------- */
#submenuIzq {
	position: absolute;
	margin-top: -1px;
	margin-left: -14px;
	margin-bottom: 10px;
	text-align: left;
	width: 230px;
	height: 504px;
	z-index: auto;
	padding: 1px;
	float: left;
	overflow: auto;
	background: #f3f1eb;
	border: 1px solid #dedbd1
}

#submenuAbaj {
	position: absolute;
	text-align: left;
	width: 230px;
	height: 20px;
	z-index: auto;
	padding: 1px;
	float: left;
	background: #f3f1eb;
	border: 1px solid #dedbd1;
	margin-left: -14px;
	margin-top: 506px
}

#ofi {
	position: absolute;
	float: left;
	margin-left: 40px;
	margin-top: 3px
}

#linea {
	position: absolute;
	float: left;
	margin-left: 72px;
	margin-top: -1px;
	width: 50px;
	height: 23px;
	border-right: 1px solid #dedbd1
}

#txt {
	position: absolute;
	float: right;
	margin-left: 175px;
	margin-top: 3px
}

/*estilo link*/
.ofi {
	color: #000000;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal
}

.ofi a:link {
	color: #000000;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal
}

.ofi a:visited {
	color: #000000;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal
}

.ofi a:hover {
	color: #000000;
	text-decoration: underline;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal
}

.caption1 {
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: url(a_red.png) left top no-repeat;
	margin: 5px 0px;
	padding-left: 20px;
	line-height: 22px;
}

.caption1 p {
	margin-top: 10px;
	padding: 5px 10px;
	display: inline;
	font-size: 12pt;
	font-weight: bold;
}

.caption2 {
	color: #B20000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
/*	border-bottom: 2px solid #1757B6;*/
	visibility: visible;
}

.caption2 p {
	margin: 0px;
	padding: 2px 5px;
	background: top left repeat-x #6FA9EA;
	/*background: url(../images/transBg.png) top left repeat-x #6FA9EA;*/
	color: white;
}

/*estilo para los submenu*/
.letra_submenu {
	color: #1757B6;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold
}

.letra_submenu a:link {
	color: #1757B6;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold
}

.letra_submenu a:visited {
	color: #1757B6;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold
}

.letra_submenu a:hover {
	color: #1757B6;
	text-decoration: underline;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	background: #dedbd1
}

#DivDetalle {
	position: absolute;
	text-align: left;
	background: #ffffff;
	z-index: auto;
	padding: 1px;
	border: 1px solid #dedbd1;
	float: left;
	overflow: auto;
	margin-left: -312px;
	margin-top: 100px;
	width: 772px;
	height: 403px
}

#DivGarita {
	position: absolute;
	text-align: left;
	background: #ffffff;
	z-index: auto;
	padding: 1px;
	border: 1px solid #dedbd1;
	float: left;
	overflow: auto;
	margin-left: -312px;
	margin-top: 100px;
	width: 900px;
	height: 403px;
	left: 350px;
	top: -77px;
}

#DivGaritaMenu {
	position: absolute;
	text-align: left;
	background: #ffffff;
	z-index: auto;
	padding: 1px;
	border: 1px solid #dedbd1;
	float: center;
	overflow: auto;
	margin-left: 0px;
	margin-top: 100px;
	width: 200px;
	height: 100px;
	left: 350px;
	/*top: -77px;*/
}


/*#det_turno {
	position:absolute;
	text-align: center;
	background: #ffffff;
	z-index: auto;
	padding: 1px;
	float: left;
	overflow: auto;
	margin-left: -100px;
	margin-top: 100px;
	width: 772px;
	height: 350px
}*/
#det_grafico {
	position: absolute;
	width: 771px;
	/*border: 1px solid #dedbd1;*/
	height: 402px;
	/*margin-left: 0px;
	margin-top: 0px;*/
	z-index: 10;
}

#DivDetalleAbaj {
	position: absolute;
	text-align: left;
	z-index: auto;
	padding: 1px;
	border: 1px solid #dedbd1;
	background: #f3f1eb;
	float: left;
	margin-left: -312px;
	margin-top: 506px;
	width: 772px;
	height: 20px
}

#DivDetalleAbaj2 {
	position: absolute;
	text-align: left;
	z-index: auto;
	padding: 1px;
	/*border: 1px solid #dedbd1;*/
	background: #f3f1eb;
	float: left;
	margin-left: 150px;
	margin-top: -45px;
	width: 772px;
	height: 20px
}

#DivDetallePtc { /*position:fixed;*/
	position: absolute;
	/*top: 1px;
	left: 1px;
	bottom: 2px;*/
	top: 0px;
	left: 0px;
	bottom: 0px;
	text-align: left;
	/*z-index: 3;*/
	width: 220px;
	height: 290px;
	/*background: #ffffff;*/
	z-index: auto;
	padding: 1px;
	/*border: 1px solid #ffffff;*/
	float: left;
	overflow: auto;
	background: #f3f1eb;
	border: 1px solid #dedbd1
}

#DivDetallePtc2 { /*position:fixed;*/
	position: absolute;
	/*top: 1px;
	left: 1px;
	bottom: 2px;*/
	top: 0px;
	left: 0px;
	bottom: 0px;
	text-align: left;
	/*z-index: 3;*/
	width: 220px;
	height: 290px;
	/*background: #ffffff;*/
	z-index: auto;
	padding: 1px;
	/*border: 1px solid #ffffff;*/
	float: left;
	overflow: auto;
	background: #f3f1eb;
	border: 1px solid #dedbd1
}

/* --------------------------------------- */
	/* -------------- CONTENT ------------- */
	/* --------------------------------------- */
.tabformat {
	border: 1px solid #6FA9EA
}

.tabformat6 {
/*	border: 1px solid #6FA9EA*/
	border: 2px solid #1757B6;
}

.tabhead {
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	border: 0pt solid #000000;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 2px;
	padding-top: 3px;
	background: #C8DEF7;
	visibility: visible
}

.tabheadptc {
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	border: 0pt solid #000000;
	padding-bottom: 3px;
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 3px;
	background: #C8DEF7;
	visibility: visible
}

.tabhead1 {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left
}

.tabhead2 {
	color: #000000;
	font-size: 18px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal
}

.tabhead3 {
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 6.5pt;
	font-weight: normal;
	text-align: left;
	border: 0pt solid #000000;
	/*padding-bottom : 1px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 1px;*/
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	background: #C8DEF7;
	visibility: visible
}

.tabhead5 {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: normal;
	text-align: left
}

.tabhead6 {
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
	text-align: left;
	border: 0pt solid #000000;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	background: top left repeat-x #6FA9EA;
	/*background: url(../images/transBg.png) top left repeat-x #6FA9EA;*/
	/*background:  #C8DEF7;*/
	visibility: visible
}

.tab_link {
	color: #000000;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal
}

.tab_link a:link {
	color: #000000;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal
}

.tab_link a:visited {
	color: #000000;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal
}

.tab_link a:hover {
	color: #000000;
	text-decoration: underline;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal
}

.tabdata {
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	border: 0px solid #000000;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 2px;
	padding-top: 3px;
	background: #F8F8F8;
	visibility: visible
}

.tabdata0 {
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	border: 0px solid #000000;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 2px;
	padding-top: 3px;
	background: #C8F8C8;
	visibility: visible
}

.tabdata1 {
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 6.5pt;
	font-weight: normal;
	text-align: left;
	border: 0px solid #000000;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	background: #F8F8F8;
	visibility: visible
}

.tabdata2 {
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 6.5pt;
	font-weight: normal;
	text-align: left;
	border: 1px solid #6FA9EA;
}

.tabform {
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	border: 0px solid #000000;
	background: #F8F8F8
}

.con_link {
	color: #333333;
	border: 0px solid #000000;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 6.5pt;
	font-weight: normal;
	background: #F8F8F8
}

.con_link a:link {
	color: #333333;
	border: 0px solid #000000;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 6.5pt;
	font-weight: normal;
	background: #F8F8F8
}

.con_link a:visited {
	color: #333333;
	border: 0px solid #000000;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 6.5pt;
	font-weight: normal;
	background: #F8F8F8
}

.con_link a:hover {
	color: #333333;
	border: 0px solid #000000;
	text-decoration: underline;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 6.5pt;
	font-weight: normal;
	background: #F8F8F8
}

.specificItem {
	color: red;
}

#footer {
	display: none;
}