<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SGL - Sistema de Gestión Logístico | SGL</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/animate.min.css" rel="stylesheet">
  <link href="../css/font-awesome.min.css" rel="stylesheet">
  <link href="../css/lightbox.css" rel="stylesheet">
  <link href="../css/main.css" rel="stylesheet">
  <link id="css-preset" href="../css/presets/preset1.css" rel="stylesheet">
  <link href="../css/responsive.css" rel="stylesheet">

   
  <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/btn-label.css">
  <script src="res/lib/jquery/jquery.min.js"></script>
  
  
  
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/classic_blue2.css" rel="stylesheet" type="text/css">
<link href="../css/style2.css" rel="stylesheet">
<link rel="stylesheet" href="../css/login.css" type="text/css">
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="../js/index.js"></script>

<script type="text/javascript">
	document.frm.txt_usuario.focus();
</script>
  

  
  
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="../images/favicon.ico">
</head><!--/head-->    
<body>
	<div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">
            <h1><img class="img-responsive" src="../images/logo_sgl2.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="../index.html">Inicio</a></li>
            <li class="scroll"><a href="MenuView.html">Gestión</a></li> 
            <li class="scroll"><a href="MenuView.html">Mantenimientos</a></li>                     
            <li class="scroll"><a href="NosotrosView.html">Nosotros</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
 <!-- </header>/#home-->
  
<section id="team">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Grupo de Trabajo</h2>
         <h4> <p>Desarrollamos trabajos con las últimas tendencias tecnológicas</p></h4>
        </div>
      </div>
      <div class="team-members">
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
                <img class="img-responsive" src="../images/mujer.png" alt="">
              </div>
              <div class="member-info">
                <h3>Paola Gomez</h3>
                <h4>Analísta en Sistemas</h4>
                <p>Encargada en el diseño del sistema</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
              <div class="member-image">
                <img class="img-responsive" src="../images/hombre.png" alt="">
              </div>
              <div class="member-info">
                <h3>Juan Galárraga</h3>
                <h4>Desarrollador</h4>
                <p>Programador de módulos</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
              <div class="member-image">
               <img class="img-responsive" src="../images/mujer.png" alt="">
              </div>
              <div class="member-info">
                <h3>María Calderón</h3>
                <h4>Diseñadora Web</h4>
                <p>Diseño de interfaces</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
              <div class="member-image">
              <img class="img-responsive" src="../images/hombre.png" alt="">
              </div>
              <div class="member-info">
                <h3>Antonio Ayala</h3>
                <h4>Desarrollador</h4>
                <p>Programador de módulos</p>
              </div>     
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section><!--/#team-->

  
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
	  <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <p>&copy; 2015 SGL</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="../js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="../js/wow.min.js"></script>
  <script type="text/javascript" src="../js/mousescroll.js"></script>
  <script type="text/javascript" src="../js/smoothscroll.js"></script>
  <script type="text/javascript" src="../js/jquery.countTo.js"></script>
  <script type="text/javascript" src="../js/lightbox.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
 </body>
</html>
  