<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SGL - Sistema de Gestión Logístico | SGL</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/font-awesome.min.css" rel="stylesheet">
  <link href="../css/lightbox.css" rel="stylesheet">
  <link href="../css/main.css" rel="stylesheet">
  <link id="css-preset" href="../css/presets/preset1.css" rel="stylesheet">
  <link href="../css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head><!--/head-->    
<body>
	<div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">
            <h1><img class="img-responsive" src="../images/logo_sgl2.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Inicio</a></li>
            <li class="scroll"><a href="#services">Gestión</a></li> 
            <li class="scroll"><a href="#mant">Mantenimientos</a></li>                     
            <!--<li class="scroll"><a href="#portfolio">Portfolio</a></li>-->
            <!--<li class="scroll"><a href="#team">Team</a></li>-->
            <!--<li class="scroll"><a href="#blog">Blog</a></li>-->
            <li class="scroll"><a href="NosotrosView.html">Nosotros</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
 <!-- </header>/#home-->
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Gestión</h2>
            <p>Mediante este módulo se procederá a realizar la respectiva gestión de los respectivos procesos que se involucran en la Logística</p>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-bookmark"></i>
            </div>
            <div class="service-info">
              <a href="#services">Incorporación de Solicitud Despacho</a> 
			  <!--<h3>Requisición de Compra</h3>-->
              <p>Mediante ésta opción se procederá a realizar la Solicitud de Despacho</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="service-info">
              <a href="IncorpRecepMercView.html">Incorporación de Recepcion Mercadería</a>
			  <!--<h3>Compra</h3>-->
              <p>Mediante ésta opción se procederá a gestionar la Incorporación de Recepción de la Mercadería</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-barcode"></i>
            </div>
            <div class="service-info">
              <a href="ControlEntradasView.html">Recepción de Mercadería</a>
			  <!--<h3>Ingreso de Bodega</h3>-->
              <p>Mediante ésta opción se procederá a realizar la respectiva Recepción de la Mercadería</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <i class="fa fa-share-square"></i>
            </div>
            <div class="service-info">
			  <a href="DespachoView.html">Despacho de Mercadería</a>
              <!--<h3>Despacho de Mercadería</h3>-->
              <p>Mediante ésta opción se procederá a realizar el despacho/entrega de la Mercadería</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="service-info">
			  <a href="ColaReposicionView.html">Almacenamiento de Mercadería</a>
              <!--<h3>Devolución de Mercadería</h3>-->
              <p>Mediante ésta opción se procederá a realizar el respectivo almacenamiento de la Mercadería</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="service-info">
			  <a href="CargaCamionesView.html">Carga a Camión de la Mercadería</a>
              <!--<h3>Devolución de Mercadería</h3>-->
              <p>Mediante ésta opción se procederá a registrar la Mercadería que se carga en el Camión</p>
            </div>
          </div>		  
        </div>
      </div>
    </div>
  </section><!--/#services-->

  <section id="mant">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Mantenimientos</h2>
            <p>Mediante este módulo se procederá a realizar los respectivos mantenimientos de los mantenedores principales</p>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-users"></i>
            </div>
            <div class="service-info">
              <a href="UsuaView.html">Usuarios</a> 
			  <!--<h3>Requisición de Compra</h3>-->
              <p>Mediante ésta opción se procederá a realizar el mantenimiento de los usuarios del sistema</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="fa fa-font"></i>
            </div>
            <div class="service-info">
              <a href="ArticuloView.html">Artículos</a>
			  <!--<h3>Compra</h3>-->
              <p>Mediante ésta opción se procederá a realizar el mantenimiento de los artículos</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="service-info">
              <a href="../views/Ubicacionview.html">Ubicacion</a>
			  <!--<h3>Ingreso de Bodega</h3>-->
              <p>Mediante ésta opción se procederá a realizar el mantenimiento de las Ubicaciones</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <i class="fa fa-share-square"></i>
            </div>
            <div class="service-info">
			  <a href="TransportistaView.html">Transportista</a>
              <!--<h3>Despacho de Mercadería</h3>-->
              <p>Mediante ésta opción se procederá a realizar el mantenimiento de los Transportistas</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-male"></i>
            </div>
            <div class="service-info">
			  <a href="ChoferView.html">Choferes</a>
              <!--<h3>Devolución de Mercadería</h3>-->
              <p>Mediante ésta opción se procederá a realizar el mantenimiento de los Choferes</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-road"></i>
            </div>
            <div class="service-info">
			  <a href="RutasView.html">Rutas</a>
              <!--<h3>Devolución de Mercadería</h3>-->
              <p>Mediante ésta opción se procederá a realizar el mantenimiento de las diferentes Rutas</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-truck"></i>
            </div>
            <div class="service-info">
			  <a href="CamionesView.html">Camiones</a>
              <!--<h3>Devolución de Mercadería</h3>-->
              <p>Mediante ésta opción se procederá a realizar el mantenimiento de los Camiones</p>
            </div>
          </div>		  
        </div>
      </div>
    </div>
  </section><!--/#services-->
  
  
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
	  <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <p>&copy; 2015 SGL</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="../js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="../js/wow.min.js"></script>
  <script type="text/javascript" src="../js/mousescroll.js"></script>
  <script type="text/javascript" src="../js/smoothscroll.js"></script>
  <script type="text/javascript" src="../js/jquery.countTo.js"></script>
  <script type="text/javascript" src="../js/lightbox.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
 </body>
</html>
  
