<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Pragma" content="no-cache">
<title>:: MENU PRINCIPAL ::</title>
<link href="../css/classic_blue2.css" rel="stylesheet" type="text/css" />
<link href="../css/style.css" rel="stylesheet" type="text/css" />

<link href="../scripts/prototype/themes/default.css" rel="stylesheet"
	type="text/css" />
<link href="../scripts/prototype/themes/alphacube.css" rel="stylesheet"
	type="text/css" />

<script type="text/javascript" src="../scripts/prototype/prototype.js"></script>
<script type="text/javascript"
	src="../scripts/scriptaculous/scriptaculous.js"></script>

<script type="text/javascript" src="../scripts/prototype/debug.js"></script>
<script type="text/javascript" src="../scripts/prototype/effects.js"></script>
<script type="text/javascript"
	src="../scripts/prototype/extended_debug.js"></script>
<script type="text/javascript" src="../scripts/prototype/tooltip.js"></script>
<script type="text/javascript" src="../scripts/prototype/window.js"></script>
<script type="text/javascript"
	src="../scripts/prototype/window_effects.js"></script>
<script type="text/javascript" src="../scripts/prototype/window_ext.js"></script>

<script type="text/javascript" src="../js/treeview.js"></script>
<script type="text/javascript" src="../js/tdmShowDetails.js"> </script>
<script type="text/javascript" src="../js/dtree.js"></script>
<script type="text/javascript" src="../scripts/combos.js"></script>
<script type="text/javascript" src="../scripts/funciones.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/interface.js"></script>
<script type='text/javascript' src='../scripts/myTabz.js'></script>
<script type="text/javascript" src="../js/swfobject.js"></script>

<style type="text/css">

</style>
</head>
<body>
<div
	style="width: 1007px; height: 570px; margin: 0 auto; background-color: #FFFFFF;">
<div id="headerContainer">
<div id="header1">
<div class="tittle2"><input name="hd_servidor" id="hd_servidor"
	type="hidden" value="SGL" />
<table width="1007" height="52" background="../images/banner_letra1.gif">
	<tr>
		<td width="83" height="100%" align="left"><a href="/Index/inicio"><img
			src="../images/tia3.gif" alt="Menu Principal"></a></td>
		<td width="581" align="left" class="Estilo1"></td>
		<td width="113" align="left"><a class="tabhead1"></a><span
			class="style3"></br>
		</span><span class="style2"> </span> <a class="tabhead1"> <? echo($completo); ?></a></br>
		<br>
		<a class="tabhead1"><? echo($_SESSION["departamento"]); ?></a><a
			class="tabhead5"><br>
			<? echo($_IP2); ?></td>
	</tr>
</table>
</div>
</div>
</div>
<form name="frm" id="frm" action="" method="post">
<div id="DivMenu"
	style="border: 1px solid #dedbd1; width: 1007px; height: 532px; margin-top: -1px; margin-left: 0px; background: url(/images/fondo_index.gif)">
<div class="dock" id="dock">
<div class="dock-container"><a class="dock-item"
	href="/Menu/recepcion?var=<? echo $var1;?>"><img
	src="../images/pallet_nuevo_blank.png" alt="Recepcion" /><span>Recepción</span></a>
<a class="dock-item" href="/Menu/almacenamiento?var=<? echo $var2; ?>"><img
	src="../images/montacarga_blank.png" alt="Almacenamiento" /><span>Almacenamiento</span></a>
<a class="dock-item" href="/Menu/despacho?var=<? echo $var3; ?>"><img
	src="../images/caddie_nuevo1_blank.png" alt="Despacho" /><span>Despacho</span></a>
<a class="dock-item" href="/Menu/transporte?var=<? echo $var4; ?>"><img
	src="../images/camion2_blank.png" alt="Transporte" /><span>Transporte</span></a>
<a class="dock-item" href="/Menu/control?var=<? echo $var5; ?>"><img
	src="../images/consulta_blank.png" alt="Control Interno" /><span>Control/Interno</span></a>
<a class="dock-item" href="/Menu/consultas?var=<? echo $var6; ?>"><img
	src="../images/consultas_blank.png" alt="Consultas/Reportes" /><span>Consultas/Reportes</span></a>
<a class="dock-item" href="/Menu/layout?var=<? echo $var7; ?>"><img
	src="../images/calendar_blank.png" alt="Layout" /><span>Layout</span></a>
<a class="dock-item" href="/Menu/mantenimiento?var=<? echo $var8; ?>"><img
	src="../images/manteni_blank.png" alt="Mantenimiento" /><span>Mantenimiento</span></a>
<a class="dock-item" href="/Menu/fraccionamiento?var=<? echo $var9; ?>"><img
	src="../images/link.png" alt="Fraccionamiento" /><span>Fraccionamiento</span></a>
</div>
</div>
<input name="hd_servidor" id="hd_servidor" type="hidden"
	value="SGL" /> <script type="text/javascript">
	
	$(document).ready(
		function()
		{
			$('#dock').Fisheye(
				{
					maxWidth: 20,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container',
					itemWidth: 45,
					proximity: 90,
					halign : 'center'
				}
			)
		}
	);

</script></div>

<div>
<table class="tabformat1" border="0">
	<tr>
		<td>

		<table width="100%" border="0">
			<tr>
				<td>
				<div id="login" style="display: none">
				<p><span id="login_error_msg" class="login_error"
					style="display: none">&nbsp;</span></p>
				<div style="clear: both"></div>
				<p><span class="login_label">login</span> <span class="login_input"><input
					type="text" tabindex="0" name="txt_user" id="txt_user"
					value="<? echo($this->user); ?>" /></span></p>
				<div style="clear: both"></div>
				<p><span class="login_label">password</span> <span
					class="login_input"><input type="password" name="txt_passwd"
					id="txt_passwd" /></span></p>
				<div style="clear: both"></div>
				</div>

				</td>
			</tr>
		</table>
		<table width="100%" border="0">
			<tr>
				<td>
				<div id="DivInicio"><!--<div id="titulo_pie"><strong>Ubicaciones Libres </strong></div>
  		<div id="titulo_line"><strong>Despachos</strong></div>	--> <!--<div id="piechart"></div>
  		<div id="linechart"></div>--></div>
				</td>
			</tr>
		</table>
		<div>
			<input type="hidden" id="txt_sesion" name="txt_sesion" value = "<? echo $txt_sesion ?>" />
		</div>
		
		</form>
		</td>
	</tr>
</table>
</div>
<div id="DivDetalleAbaj2">
<div id="menu_inf2" class="letra_submenu">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#">Recepcion</a> &nbsp;&nbsp; | &nbsp;&nbsp;<a href="#">Almacenamiento</a> &nbsp;&nbsp; | &nbsp;&nbsp;<a href="#">Manuales</a>
&nbsp;&nbsp; | &nbsp;&nbsp;<a href="/Index/indexsgl">Salir</a></div>
</div>

</div>

</body>
</html>
<script type="text/javascript">
				
				var flashvars = {ipservidor:document.frm.hd_servidor.value};
				
				var params = {menu: "true"};
				var attributes = {};
				swfobject.embedSWF("/swf/ubicaciones.swf", "DivInicio", "995", "385", "9.0.0","", flashvars, params, attributes);
			
</script>
<!--<script>
cargarTabInicio('/index/inicioGraf');
</script>-->

