<!DOCTYPE html> 

<html lang="en">

    <head>

        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Control de entradas - Recepcion</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="../css/classic_blue2.css" rel="stylesheet" type="text/css">
<link href="css/style2.css" rel="stylesheet">
<link rel="stylesheet" href="../css/login.css" type="text/css">
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
	

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="../js/index.js"></script>

    </head>

    <body>       
	<table>
	<tr>	
	<td><label>Pta</label></td>
	<td><input type="text" name="txt_pta" required></td>	
	</tr>
	<tr>		
	<td><label>Pal</label></td>
	<td><input type="text" name="txt_pal" required></td>
	</tr>
	<tr>	
	<td><label>Estadistico</label></td>
	<td><input type="text" name="txt_estadistico" required></td>
	</tr>	
	<tr>	
	<td><label>Codigo de barra</label></td>
	<td><input type="text" name="txt_codbarra" required></td>
	</tr>	
	<tr><td>	
	<label>Fecha Vencimiento</label></td>
	<td><input type="text" name="txt_fchvenc" required></td>
	</tr>
	<tr><td>
	<label>Cantidad</label></td>
	<td>
	<input type="text" name="txt_cant" required></td>
	</tr>
	</table>
	
	
    </body>

</html>
